{
  "ShowAllChat": [
    {
      "ownerId": 1874529013,
      "contactId": 9821046735,
      "name": "Alex Williams",
      "profilePic": "https://images.pexels.com/photos/1681010/pexels-photo-1681010.jpeg?_gl=1*13f0j0z*_ga*MTk5MjUwODgzMi4xNzM1Mjk5MjA1*_ga_8JE65Q40S6*czE3NTIzOTg4NDEkbzExJGcxJHQxNzUyMzk5NDgxJGozMiRsMCRoMA..",
      "bio": "Coffee lover ☕ | Software Engineer",
      "phoneNumber": "+1-202-555-0110",
      "emailId": "alex.williams@example.com",
      "chatType": "home"
    },
    {
      "ownerId": 1874529013,
      "contactId": 7649201583,
      "name": "Emma Johnson",
      "profilePic": "https://images.pexels.com/photos/4519471/pexels-photo-4519471.jpeg",
      "bio": "Traveler ✈️ | Photographer",
      "phoneNumber": "+1-202-555-0123",
      "emailId": "emma.johnson@example.com",
      "chatType": "archive"
    },
    {
      "ownerId": 1874529013,
      "contactId": 5038172946,
      "name": "Sophia Davis",
      "profilePic": "https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?_gl=1*1vqx8fp*_ga*MTk5MjUwODgzMi4xNzM1Mjk5MjA1*_ga_8JE65Q40S6*czE3NTIzOTg4NDEkbzExJGcxJHQxNzUyMzk5NDcyJGo0MSRsMCRoMA..",
      "bio": "Bookworm 📚 | UI/UX Designer",
      "phoneNumber": "+1-202-555-0175",
      "emailId": "sophia.davis@example.com",
      "chatType": "strealth"
    },
    {
      "ownerId": 1874529013,
      "contactId": 6294150872,
      "name": "Olivia Brown",
      "profilePic": "https://images.pexels.com/photos/1065084/pexels-photo-1065084.jpeg?_gl=1*1oh11jk*_ga*MTk5MjUwODgzMi4xNzM1Mjk5MjA1*_ga_8JE65Q40S6*czE3NTIzOTg4NDEkbzExJGcxJHQxNzUyMzk5NDc5JGozNCRsMCRoMA..",
      "bio": "Fitness Enthusiast 🏋️ | Blogger",
      "phoneNumber": "+1-202-555-0199",
      "emailId": "olivia.brown@example.com",
      "chatType": "home"
    }
  ]
}
